<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>CalculatorulTau</title>
        <!-- <meta charset="UTF-8"> -->
        <meta name="keywords" content="componente calculator, componente PC, procesoare, placi video, CPU, GPU, HDD, SSD, periferice, accesorii PC, procesoare, memorii, hard disk uri, placi de baza, carcase, unitati optice, ventilatoare carcasa, surse, conectica">
        <meta name="description" content="Cel mai bun loc pentru componente de PC, de la A la Z.">
        <meta name="author" content="Tudor Coman">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <br />
        <label> Nume: <input type="text" id="inp-nume"></label>
        <!--<label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label>-->
        
        <br />
        <label>An fabricatie:</label>
        <input list="ani" name="an" id="inp-an">
        <datalist id="ani">
            <%
                function onlyUnique(value, index, self) {
                    return self.indexOf(value) === index;
                }
                const ani = locals.produse.map(x => x.an_fabricatie).filter(onlyUnique);
                for (let an of ani) {%>
                    <option value="<%- an %>">
            <%  } %>
        </datalist>

        <div> Greutate:<!-- trebuie sa aiba acelasi name ca sa formeze un grup -->
            <p><label>Foarte usor (greutate &lt; 150)
                <input id="i_rad1"  name="gr_rad" value="0:150" type="radio"/>
            </label></p>
            <p><label>Mediu (150 &le; greutate &lt; 500)
                <input id="i_rad2"  name="gr_rad" value="150:500" type="radio"/>
            </label>
            <p><label>Greu (500 &le; greutate)
                <input id="i_rad3" name="gr_rad" value="500:1000000000" type="radio"/>
            </label>
            <p><label>Toate
                <input id="i_rad4" checked name="gr_rad" value="toate" type="radio"/>
            </label>
        </div>

        <label>Descriere: </label> <textarea id="inp-descriere" name="desc" rows="4" cols="50"></textarea> 
        <br /> <br />

        <label>Culoare:</label>
        <select name="culoare" id="inp_culoare" multiple>
            <% const culori = new Set(locals.produse.map(x => x.culoare).flat(1)); %> 
            <% for(let culoare of culori) { %>
                <option value="<%- culoare %>"><%- culoare.replace(/\w/, c => c.toUpperCase()) %></option>
            <% } %>
          </select>

        <br /> <br />
        <div id="filtru-materiale"> Materiale:
            <% const materiale = new Set(locals.produse.map(x => x.materiale).flat(1)); %> 
            <% for(let material of materiale) { %>
            <p><label> <%- material %>
                <input type="checkbox" id="inp-<%- material %>" />
                <input id="i_rad1_<%- material %>"  name="gr_rad_<%- material %>" value="are" type="radio" checked/> <label> are </label>
                <input id="i_rad2_<%- material %>"  name="gr_rad_<%- material %>" value="nu are" type="radio"/> <label> nu are </label>
            </label></p>
            <% } %>
        </div> 
        <label> Pret minim: 0 <input type="range" id="inp-pret" value="0" min="0"  max="1000"> 1000 <span id="infoRange">(0)</span></label>
        <label>Tip produs:
            <select id="inp-tip">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>
        <p>
        <button id="filtrare">Filtreaza</button> <button id="resetare">Reseteaza</button><br/>
        <button id="sortCrescNume">Sorteaza crescator</button>
        <button id="sortDescrescNume">Sorteaza descrescator</button>
        <button id="calculSuma">Calculeaza suma preturilor produselor afisate </button>

        </p>
        
        <!-- <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p> -->
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" id="artc-<%- prod.id %>">
                        <h3 class="nume"><a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="grid-interior-produs">
                            <div class="rand">
                                <div class="item-stanga">
                                    <figure>
                                        <a href="/produs/<%-prod.id %>" ><img src="<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                                    </figure>
                                
                                    <!-- <div class="info-prod">
                                        <p class="pret">Pret: <span class="val-pret"><%- prod.pret%> RON</span></p>
                                        <p class="calorii">An fabricatie: <span class="val-an-fabricatie"><%- prod.an_fabricatie%></span></p>
                                        <p class="gramaj">Greutate: <span class="val-greutate"><%- prod.greutate%> g</span></p>
                                    </div> -->

                                    <ul>
                                        <li><a class="nume-caracteristica">Pret: </a> <span class="val-pret"><%- prod.pret%></span> RON</li>
                                        <li><a class="nume-caracteristica">An fabricatie: </a> <span class="val-an-fabricatie"><%- prod.an_fabricatie%></span></li>
                                        <li><a class="nume-caracteristica">Greutate: </a> <span class="val-greutate"><%- prod.greutate%></span></li>
                                        <li><a class="nume-caracteristica">Culoare: </a> <span class="val-culoare"><%- prod.culoare%></span></li>
                                        <li><a class="nume-caracteristica">Materiale: </a> <span class="val-materiale"><%- prod.materiale%></span></li>
                                        <li><a class="nume-caracteristica">Resigilat: </a> <span class="val-resigilat"><%- prod.resigilat%></span></li>
                                        <li><a class="nume-caracteristica">Data adaugare: </a> 
                                            <span class="val-data-adaugare">
                                                <time datetime="<%- prod.data_adaugare.toISOString().split('T')[0] %>">
                                                    <script>
                                                        var d = new Date("<%= prod.data_adaugare.toISOString() %>");
                                                        document.write(d.getDate() + " " + d.getMonthName() + " " + d.getFullYear());
                                                        document.write(" [" + d.getDayName() + "]");
                                                    </script>
                                                </time>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item-dreapta">
                                    <div class="accordion" id="accordionExample<%-prod.id%>">
                                        <div class="accordion-item">
                                          <h2 class="accordion-header" id="headingOne<%-prod.id %>">
                                            <button id="accordion1Buton<%-prod.id %>" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne<%-prod.id %>" aria-expanded="false" aria-controls="collapseOne<%-prod.id %>">
                                              Categorie si Tip
                                            </button>
                                          </h2>
                                          <div id="collapseOne<%-prod.id %>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample<%-prod.id %>">
                                            <div class="accordion-body">
                                                <p><a class="nume-caracteristica">Categorie: </a>  <span class="val-categorie"><%- prod.categorie%></span></p>
                                                <p><a class="nume-caracteristica">Tip: </a>  <span class="val-tip"><%- prod.tip_produs%></span></p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="accordion-item">
                                          <h2 class="accordion-header" id="headingTwo<%-prod.id %>">
                                            <button id="accordion2Buton<%-prod.id %>" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo<%-prod.id %>" aria-expanded="false" aria-controls="collapseTwo<%-prod.id %>">
                                              Descriere
                                            </button>
                                          </h2>
                                          <div id="collapseTwo<%-prod.id %>" class="accordion-collapse collapse" aria-labelledby="headingTwo<%-prod.id %>" data-bs-parent="#accordionExample<%-prod.id %>">
                                            <div class="accordion-body">
                                                <span class="val-descriere"><%- prod.descriere%></span></p>
                                            </div>
                                          </div>
                                        </div>
                                      </div> 
                                </div>
                            </div>
                        </div>

                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                    </article>
                    <script>
                        document.getElementById("accordion1Buton<%-prod.id %>").onclick = function() {
                            actualizeazaLocalStorage(1, "<%-prod.id %>");
                        }
                        document.getElementById("accordion2Buton<%-prod.id %>").onclick = function() {
                            actualizeazaLocalStorage(2, "<%- prod.id %>");
                        }
                    </script>
                <% }%>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>